*{
  margin: 0%;
  padding: 0%;
  /* font-family: "Montserrat", serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
scroll-behavior: smooth;
} 
header{
position: sticky;
top: 0px;
z-index: 1000;
overflow: hidden;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-color: #ffffff;
  padding: 15px;
  height: 50px;
  padding-left: 25px;
  padding-right:15px;
}
.leftnav{
  display: flex;
  align-items: center;
  gap: 25px;
}
.logo img{
  height: 35px;
}
.navlinks{
  display: flex;
  list-style: none;
  gap: 15px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  z-index: 1000;
}
.navlinks a{
  text-decoration: none;
  color: #000100;
  font-weight: bold;
  }
.navlinks a.active{
 background-color: rgb(248, 4, 4);
 padding: 10px;
 color:whitesmoke;
 border: 1px solid #ddd;
} 
.hamburger{
  display: none; 
}  
.navcontact button{
  background-color:#CF2027;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 180px;
}
/*Responsive Design */
@media screen and (max-width: 768px){
  
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .hamburger{
    width: 30px;
    height: 20px;
    padding: 5px;
    padding-top: 6px;
    background-color: #faf8f8;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ddd;
  }
  .hamburger i{
    font-size: 20px;
    color: #757575;
  }
  .navlinks{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0px;
    flex-direction: column;
    color: #fff;
    transition: all 0.5s;
    width: 100%;
    background-color: #f7f3f3;
    /* z-index: 1000; */
  }
  .navlinks li{
    margin: 16px 0;
    margin-left: 30px;
    color: #fff;
  }
  .navlinks a.active{     
   color:whitesmoke;
   border: 1px solid #ddd;
   background-color: red;
  }
  .navlinks.active{
    left: 0;
  }
  .navcontact{
    background-color: #f7f3f3;
    position: fixed;
    left: -100%;
    top: 325px;
    gap: 0px;
    color: #fff;
    width: 100%;
    transition: 0.5s;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .navcontact button{
    margin-left: 20px;
    width: 90%;
    background-color: #FAA626;
    color: #000100;
  }
  .navcontact.active{
    left: 0;
  }
}

/* section 1 */
.section1{
  background-color: #FFF6F6;
    height: 69vh;
    display: flex;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0%;
}
.carousel{
    position: relative;
    height: 68vh;
    width: 80vw;
    overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%; /* Adjust size of images */
  height: 70vh;
  flex: 0 0 100%; /* Ensure each image takes full width */
  object-fit: fill;
}

.carousel  button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(241, 135, 48, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
 
.Admissionform{
    background-color:#cf2027;
    height: 68vh;
    width: 40vw;
    color: #fff;
    display: flex;
   flex-direction: column;
   text-align: center;
   gap: 20px;
}
.Admissionform .formhead{
  margin-top: 30px;
  font-size: 22px;
  gap: 5px;
}
.Admissionform .formcontent form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3px;
}
.Admissionform .formcontent form input{
  height: 20px;
  padding: 10px;
  width: 90%;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.Admissionform .formcontent form p{
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  padding: 5px;
  padding-left: 15px;
  }
.Admissionform .formcontent form button{
  padding: 5px;
  width: 80px;
  margin-left: 170px;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
  background-color: #E1AB20 !important;
  font-size: 17px;
}

/* Responsive design */
@media screen and (max-width: 480px) {
  .section1{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 90vh;
  }
  .carousel{
    width: auto;
    height: 50vh;
  }
  .carousel-images img{
    min-width: auto;
    max-height: 27vh;
  }
  
.Admissionform{
 width: 100%;
 height: 50vh;
 padding-bottom: 90px;
 gap: 5px;

}
.Admissionform .formhead{
font-size: 17px;
margin-top: 35px;
line-height: 25px;
}
.Admissionform .formhead h5{
  font-size: 14px;
  }
.Admissionform .formcontent form{
  padding-left: 2px;
}
.Admissionform .formcontent form input{
font-size: 17px;
}
.Admissionform .formcontent form p{
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  padding: 5px;
  padding-left: 15px;
  }
.Admissionform .formcontent form button{
background-color: #E1AB20 !important;
font-size: 19px;
text-align: center;
margin-left: 110px;
margin-top: -10px;
width: 120px;
}
}

/* section 2 */
.glancecontainer{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #FFF6F6;
}
.glance{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  height: auto;
  width: 260px;
  text-align: center;
  padding: 17px;
  transition: transform 0.2s;
}
.glancehead{
  text-align: center;
  font-size: 20px;
  color: #d62b2b;
  margin-bottom: 30px;
}
.glancecontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 14px;
    padding: 8px;
    flex-wrap: wrap;
}
.glancecontent img{
  height: 50px;
  width: 50px;
}
.glancecontent p{
  font-size: 14px;
  color: #000;
}
.glance:hover{
  transform: translateY(-6px);
  box-shadow: -2px  5px  6px rgba(0, 0, 0, 0.1);
}

/*Responsive Design */
@media screen and (max-width: 768px){
  .glance{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: auto;
    width: 110px;
    text-align: center;
    padding: 17px;
    transition: transform 0.2s;
  }
  .glancehead{
    font-size: 17px;
  margin-bottom: 20px;
  }
}
 
/* section 3 */
.glancecontainer2{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 92%);
  padding-bottom: 40px;
  padding-top: 30px;
}
.glance2{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  height: auto;
  width: 240px;
  text-align: center;
  transition: transform 0.2s;
  padding: 30px;
  margin-top: 30px;
}
.glancehead2{
  text-align: center;
  font-size: 20px;
  color: #d62b2b;
  margin-bottom: 5px;
}
.glancecontent2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 14px;
    flex-wrap: wrap;
}
.glancecontent2 img{
  height: 50px;
  width: 50px;
}
.glancecontent2 h5{
  font-size: 17px;
  line-height: 18px;
} 
.glancecontent2 p{
  font-size: 14px;
  color: #000;
}
.glance2:hover{
  transform: translateY(-6px);
  box-shadow: -2px  5px  6px rgba(0, 0, 0, 0.1);
}
.glance2btn{
  display: flex;
  justify-content: center;
}
.glance2btn button{
  background-color: #CF2027;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 50px;
  border: none;
  font-size: 17px;
}

/*Responsive Design */
@media screen and (max-width: 768px){
  .glance2{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: auto;
    width: 100px;
    text-align: center;
    padding: 17px;
    transition: transform 0.2s;
  }
  .glancehead2{
    font-size: 16px;
    margin-bottom: 5px;
  }
}

/* section 4 */
.feesection{
  display: flex;
  flex-direction: column;
  background-color: #FFF6F6;
  padding-bottom: 80px;
  padding-top: 30px;
  height: 70vh;
  background-image: url("https://nims-landing.s3.eu-north-1.amazonaws.com/engineering2025/know-about.png");
}

.feeheading{
  text-align: center;
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}
.feecontent{
  display: flex;
  gap: 70px;
  justify-content: space-evenly;
}
.contentbtn{
  padding: 10px 0px;
}
.contentbtn button{
  width: 120%;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 5px;
}
.c1c2image img{
  width: 380px;
}

.content3 img{
height: 350px;
}

.feebutton{
  display: flex;
  justify-content: center;
}
.feebutton button{
  background-color: #CF2027;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  font-size: 20px;
}

/*Responsive Design */
@media screen and (max-width: 768px){
  .feesection{
    padding-top: 20px;
    padding-bottom: 0px;
    height: 60vh;
  }
  .content3{
    display: none;
  }
  .feecontent{
    display: flex;
    gap: 10px;
  }
.feeheading{
  text-align: center;
  font-size: 14.9px;
  margin-bottom: 0px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.contentbtn button{
    width: 150px;
  }
.c1c2image img{
  width: 143px;
  height: 86px;
}
.feebutton button{
  margin-top: 15px;
  margin-bottom: 0px;
}
}

/* section 5 */
.placementsection{
  background-color: #FFF6F6;
  padding-bottom: 50px;
  padding-top: 30px;
}
.placementheading{
  text-align: center;
  font-size: 16px;
  color:#CF2027;
  margin-bottom: 30px;
}
.placementimages{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.placementsection img{
width: 150px;
transition: transform 0.3s;
}
.placementsection img:hover{
  transform: scale(1.2);
}

/*Responsive Design */
@media screen and (max-width: 768px){
  
.placementheading{
  text-align: center;
  font-size: 17px;
  line-height: 1;
  margin-bottom: 40px;
}
.placementimages{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.placementsection img{
  width: 85px;
}
}

/* section 6 */
.successsection{
  background-color: #eaeaea;
  padding-bottom: 50px;
  padding-top: 30px;
}
.successheading{
  text-align: center;
  font-size: 18px;
  color:#CF2027;
  margin-bottom: 30px;
}
.section6{
  display: flex;
}
.carousel-container1,.carousel-container2 {
  width: 620px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.section6-carousel,.section6-carousel1{
  display: flex;
  gap: 5px;
  transition: transform 0.5s ease-in-out;
  height: 200px;
  padding: 2px;
}

.carousel-item,.carousel-item1 {
  min-width: 100%;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.carousel-item h4,.carousel-item1 h4{
  color: #E1AB20;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 0%;
  margin-top: 0px;
  font-weight: bold;
}
.carousel-item p,.carousel-item1 p{
  margin-top: 0%;
  font-size: 17px;
  line-height: 1.5;
  color: #4E4E4E;
}
.carousel-container1 button,.carousel-container2 button,.next-btn1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(241, 135, 48, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn{
  left: 10px;
}

.next-btn{
  right: 10px;
}

.next-btn1{
  visibility: hidden;
}
 .prev-btn:hover,.next-btn:hover,.next-btn1:hover {
  background-color: #FAA626;
}


/*Responsive Design */
@media screen and (max-width: 768px){
  .successsection{
    /* background-color: #eaeaea; */
    padding-bottom: 20px;
    /* padding-top: 30px; */
  }
  .carousel-container2{
    display: none;
  }
  .successheading{
    font-size: 18px;
    margin-bottom: 10px;
  }
.next-btn1{
  visibility: visible;
  right: 10px;
}
.carousel-container1{
  width: 285px;
  height: 380px;
}

.carousel-item {
  width: 280px;
  height: 360px;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  
}
}

/* ------ footer --------- */
.footer1{
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 80px;
  font-size: 15px;
}
.footer1 h5{
  font-size: 17px;
}
.footer2{
  background-color: #333;
  padding: 8px ;
  color: #fff;
  text-align: center;
  height: 18px;
  font-size: 15px;
}

.whatsapp i{
  position: fixed;
  background-color: rgb(63, 218, 24);
  color: whitesmoke;
  border-radius: 50%;
  z-index: 1000;
  right: 15px;
  bottom: 5px;
  font-size: 25px;
  padding: 6px 8px 6px 8px;
  box-shadow: 1px 2px 10px white;
}

.phone{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: blue;
  width: 42.5%;
  height: 16px;
  text-align: center;
  color:whitesmoke;
  padding: 8px;
  font-size: 12px;
  display: none;
}
.apply{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color:red;
  width: 42.5%;
  height: 18px;
  padding: 7px;
  font-size: 16px;
  color:whitesmoke;
  display: none;
}
.br{
  height: 25px;
  background-color: white;
  display: none;
}

/*Responsive Design */
@media screen and (max-width: 768px){
  .br{
    display: block;
  }
  .footer1{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 90px;
    font-size: 15px;
    padding: 8px;
  }
  .footer1 h5{
    font-size: 14px;
  }
  
.footer2{
  background-color: #333;
  padding: 10px ;
  color: #fff;
  text-align: center;
  height: 20px;
  font-size: 14px;
}
.phone{
  display: block;
}
.apply{
  display: block;
}
}